@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// VARIABLES

// Color
$colorCyan: hsl(179, 62%, 43%);
$colorCyanDark: hsl(178, 35%, 57%);
$colorBirghtYellow: hsl(71, 73%, 54%);
$colorLightGray: hsl(204, 43%, 93%);
$colorGrayishBlue: hsl(218, 22%, 67%);

// Breakpoints
$breakpoint-md: 44.5rem;

// MIXINS
@mixin breakpoint-md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

// RESET

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  //   background-color: $colorGrayishBlue;
  font-size: 1em;
  font-family: "Karla", sans-serif;
  color: $colorLightGray;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

p {
  font-weight: 400;
}

.grid1 {
  color: $colorGrayishBlue;
  h2 {
    color: $colorCyan;
  }
  &__subHeading {
    color: $colorBirghtYellow;
  }
}

.grid3 {
  p {
    color: $colorLightGray;
  }
}
