// @import "./base";

.grid-2 {
  .btn {
    color: $color-cyan;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    background-color: $color-yellow;
    display: block;
    cursor: pointer;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
  }
  .btn:hover {
    transition: all 0.3s ease-in;
    background-color: white;
    // color: $color-yellow;
    transform:scale(1.03)
    // -webkit-transform: scale(1.2);
    // -ms-transform: scale(1.2);
  }
}
