button {
  cursor: pointer;
  border: none;
  background-color: $colorBirghtYellow;
  color: $colorLightGray;
  font-weight: 700;
  width: 100%;
  height: 3.125rem;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
