@import "./base";
@import "./components";

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 5em auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  max-width: 400px;

  @media (min-width: 730px) {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-1 {
  padding: 25px;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;

  @media (min-width: 730px) {
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    grid-column: 1 / 3;
  }
}
.grid-2 {
  padding: 25px;
  background-color: $color-cyan;

  @media (min-width: 730px) {
    text-align: left;
    border-end-start-radius: 20px;
  }
}
.grid-3 {
  padding: 25px;
  background-color: $color-cyan2;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;

  @media (min-width: 730px) {
    text-align: left;
    border-end-start-radius: 0;
  }
}
