.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  max-width: 90%;
  margin: auto;
  box-shadow: 0 0 20px $colorGrayishBlue;
  border-radius: 7px;

  @include breakpoint-md {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 620px;
  }
}

.grid1 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: white;
  padding: 1.3rem;
  h2 {
    margin-bottom: 1rem;
  }
  &__subHeading {
    margin-bottom: 1rem;
  }

  @include breakpoint-md {
    grid-column: 1 / 3;
  }
}

.grid2 {
  padding: 1.3rem;
  background-color: $colorCyan;
  @include breakpoint-md {
    border-bottom-left-radius: 7px;
  }
  h3 {
    margin-bottom: 0.1rem;
  }
  &__price {
    display: flex;
    align-items: center;
    .dollar {
      font-size: 2em;
      margin-right: 0.2em;
      color: $colorLightGray;
    }
    p {
      color: hsl(204, 43%, 83%);
    }
  }
  .btn {
    margin-top: 2rem;
  }
}

.grid3 {
  padding: 1.3rem;
  background-color: $colorCyanDark;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  @include breakpoint-md {
    border-bottom-left-radius: 0;
  }
  h3 {
    margin-bottom: 1rem;
  }
  p {
    max-width: 80%;
  }
}
